AuctionWebAppClientSOAP/src/conf/wsdl/localhost_8080/AuctionWebApp/AuctionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="AuctionService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AuctionWebApp/AuctionService?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="ServletException">
<part name="fault" element="tns:ServletException"/>
</message>
<message name="getBiddables">
<part name="parameters" element="tns:getBiddables"/>
</message>
<message name="getBiddablesResponse">
<part name="parameters" element="tns:getBiddablesResponse"/>
</message>
<message name="makeBid">
<part name="parameters" element="tns:makeBid"/>
</message>
<message name="makeBidResponse">
<part name="parameters" element="tns:makeBidResponse"/>
</message>
<portType name="AuctionServiceSOAP">
<operation name="test">
<input wsam:Action="http://services/AuctionServiceSOAP/testRequest" message="tns:test"/>
<output wsam:Action="http://services/AuctionServiceSOAP/testResponse" message="tns:testResponse"/>
<fault message="tns:ServletException" name="ServletException" wsam:Action="http://services/AuctionServiceSOAP/test/Fault/ServletException"/>
</operation>
<operation name="getBiddables">
<input wsam:Action="http://services/AuctionServiceSOAP/getBiddablesRequest" message="tns:getBiddables"/>
<output wsam:Action="http://services/AuctionServiceSOAP/getBiddablesResponse" message="tns:getBiddablesResponse"/>
</operation>
<operation name="makeBid">
<input wsam:Action="http://services/AuctionServiceSOAP/makeBidRequest" message="tns:makeBid"/>
<output wsam:Action="http://services/AuctionServiceSOAP/makeBidResponse" message="tns:makeBidResponse"/>
</operation>
</portType>
<binding name="AuctionServiceSOAPPortBinding" type="tns:AuctionServiceSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServletException">
<soap:fault name="ServletException" use="literal"/>
</fault>
</operation>
<operation name="getBiddables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AuctionService">
<port name="AuctionServiceSOAPPort" binding="tns:AuctionServiceSOAPPortBinding">
<soap:address location="http://localhost:8080/AuctionWebApp/AuctionService"/>
</port>
</service>
</definitions>