AuctionWebAppClient/src/conf/wsdl/localhost_8080/AuctionWebApp/AuctionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getBiddables" type="tns:getBiddables"/>

<xs:element name="getBiddablesResponse" type="tns:getBiddablesResponse"/>

<xs:element name="makeBid" type="tns:makeBid"/>

<xs:element name="makeBidResponse" type="tns:makeBidResponse"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:complexType name="test">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeBid">
<xs:sequence>
<xs:element name="arg0" type="tns:bidObject" minOccurs="0"/>
<xs:element name="arg1" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bidObject">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="bidDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="userId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeBidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBiddables">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBiddablesResponse">
<xs:sequence>
<xs:element name="return" type="tns:productListingObject" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productListingObject">
<xs:sequence>
<xs:element name="basePrice" type="xs:double"/>
<xs:element name="bids" type="tns:bidObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="closing" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="productId" type="xs:long"/>
<xs:element name="published" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>